:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-primary {
  color: var(--first-color) !important;
}

.bg-primary {
  background-color: var(--first-color) !important;
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
}
